<div class="row">

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 info">
        <div>
            <img 
                src="../../../assets/foto_perfil.png"
                class="img-responsive"
                id="foto_de_perfil"
                class="img-fluid">
        </div>
        
        <h2><p id="nombre">{{persona.nombre}} {{persona.apellido}}</p></h2>
        <h4><p>Full Stack Developer Jr</p></h4>
        

        <button type="button" class="btn btn-primary" routerLink="/editacercade/1" *ngIf="isLogged">
            Editar persona
        </button>
    </div>

    

    


    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 acerca">
        <span>
            <h1>Acerca de mi</h1>
            <h5><p>{{persona.descripcion}}</p></h5>
        </span>
    </div>


</div>



