<div class="container" *ngIf="proyecto">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <h6 for="nombre">Nombre del proyecto</h6>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="proyecto.nombre" required>
                </div>
                <div class="form-group">
                    <h6 for="descripcion">Descripción del proyecto</h6>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="proyecto.descripcion" required>
                </div>
                <div class="form-group">
                    <h6 for="fechaReali">Fecha de creación</h6>
                    <input type="text" class="form-control" id="fechaReali" name="fechaReali" [(ngModel)]="proyecto.fechaReali" required>
                </div>
                <div class="form-group">
                    <h6 for="link">Link del proyecto</h6>
                    <input type="text" class="form-control" id="link" name="link" [(ngModel)]="proyecto.link" required>
                </div>
                <div class="form-group">
                    <h6 for="imagen">Imagen</h6>
                    <input type="text" class="form-control" id="imagen" name="imagen" [(ngModel)]="proyecto.imagen" required>
                </div>
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>

