<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción del proyecto</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required>
                </div>
                <div class="form-group">
                    <label for="fechaReali">Fecha de creación</label>
                    <input type="text" class="form-control" id="fechaReali" name="fechaReali" [(ngModel)]="fechaReali" required>
                </div>
                <div class="form-group">
                    <label for="link">Link del proyecto</label>
                    <input type="text" class="form-control" id="link" name="link" [(ngModel)]="link" required>
                </div>
                <div class="form-group">
                    <label for="imagen">Imagen</label>
                    <input type="text" class="form-control" id="imagen" name="imagen" [(ngModel)]="imagen" required>
                </div>
                <button class="btn btn-primary">
                    Agregar 
                </button>
            </form>
        </div>
    </div>
</div>

