<div class="container" *ngIf="expLab">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <h6 for="nombre">Nombre de la empresa</h6>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="expLab.nombre" required>
                </div>
                <div class="form-group">
                    <h6 for="descripcion">Descripción del empleo</h6>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="expLab.descripcion" required>
                </div>

                <!---- FALTA HACER  -->
                <div class="form-group">
                    <h6 for="periodo">Periondo</h6>
                    <input type="text" class="form-control" id="periodo" name="periodo" [(ngModel)]="expLab.periodo" required>
                </div>

                <div class="form-group">
                    <h6 for="imagen">Logo</h6>
                    <input type="text" class="form-control" id="imagen" name="imagen" [(ngModel)]="expLab.imagen" required>
                </div>


                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>
