<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <h6 for="nombre">Nombre de la empresa</h6>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <h6 for="descripcion">Descripción del empleo</h6>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required>
                </div>


                <!---- FALTA HACER  -->
                <div class="form-group">
                    <h6 for="periodo">Periondo</h6>
                    <input type="text" class="form-control" id="periodo" name="periodo" [(ngModel)]="periodo" required>
                </div>

                <div class="form-group">
                    <h6 for="imagen">logo</h6>
                    <input type="text" class="form-control" id="imagen" name="imagen" [(ngModel)]="imagen" required>
                </div>

                <button class="btn btn-primary">
                    Agregar experiencia
                </button>
            </form>
        </div>
    </div>
</div>
