<div class="row">
    <div class="container">

        <div>
            <img 
            src="../../../assets/APLogo.png" 
            alt="Logo"
            id="logo_arg_prog">
        </div>


        <div class="nav">
            <div class="redes">
                <a class="ic1" href="https://github.com/UrielCT"><img src="../../../assets/github.png" alt="github"></a>
                <a class="ic2" href="https://www.linkedin.com/in/urielct"><img src="../../../assets/linkedin.png" alt="linkedin"></a>
            </div>
            
            <div class="botones">
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">LOGIN</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">LOGOUT</button>
            </div>
                
        </div>
    </div>
   
    
</div>


