
<div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/instagram.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [title]="'Java'"
        [titleColor]="'red'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#c7e596'"
        [animation]="true"
        [animationDuration]="600">
        [lazy]="true"
        
    </circle-progress>
    </div>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/instagram.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [title]="'Java'"
        [titleColor]="'red'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#c7e596'"
        [animation]="true"
        [animationDuration]="600">
        [lazy]="true"
        
    </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/instagram.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [title]="'Java'"
        [titleColor]="'red'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#c7e596'"
        [animation]="true"
        [animationDuration]="600">
        [lazy]="true"
        
    </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/instagram.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [title]="'Java'"
        [titleColor]="'red'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#c7e596'"
        [animation]="true"
        [animationDuration]="600">
        [lazy]="true"
        
    </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/instagram.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [title]="'Java'"
        [titleColor]="'red'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#c7e596'"
        [animation]="true"
        [animationDuration]="600">
        [lazy]="true"
        
    </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/instagram.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [title]="'Java'"
        [titleColor]="'red'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#c7e596'"
        [animation]="true"
        [animationDuration]="600">
        [lazy]="true"
        
    </circle-progress>
    </div>
</div>
